        @font-face {
            font-family: 'RobotoCondensed';
            /* regular */
            src: url('/InfoTerminal/assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'RobotoCondensed';
            /* italic */
            src: url('/InfoTerminal/assets/fonts/RobotoCondensed-Italic.ttf') format('truetype');
            font-weight: normal;
            font-style: italic;
        }

        @font-face {
            font-family: 'RobotoCondensed';
            /* bold */
            src: url('/InfoTerminal/assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'RobotoCondensed';
            /* bold italic */
            src: url('/InfoTerminal/assets/fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
            font-weight: bold;
            font-style: italic;
        }

        body {
            font-family: RobotoCondensed;
            text-align: center;
            height: 480px;
            width: 800px;
            padding: 0px;
            margin: 0px auto 0px auto;
            border: 1px solid black;
        }

        div {
            text-align: center;
        }