/* line 1, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.middleBorder {
  position: absolute;
  right: calc(50% - 2px / 2);
  top: 20px;
  height: calc(100% - (2 * 20px));
  border-right: #E6E7E8 2px solid;
  z-index: 100;
}

/* line 11, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.bottomLink {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 50%;
  text-align: center;
  font-weight: bold;
  z-index: 100;
  font-size: 16px;
}

/* line 23, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.mainRow {
  height: 100%;
  margin: 0;
}

/* line 29, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.side {
  padding: 20px;
}

/* line 33, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.side.left {
  background: transparent;
}

/* line 38, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.side.right {
  background: transparent;
}

/* line 44, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.password {
  position: relative;
  height: 50px;
  font-size: 24px;
  color: #0098DA;
}

/* line 51, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.password .bottomLine {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: #E6E7E8 2px solid;
}

/* line 59, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.password .backspace {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 30px;
  padding-right: 5px;
}

/* line 69, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.password #password {
  padding: 10px;
  text-align: center;
}

/* line 76, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.content {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

/* line 83, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypadContainer {
  height: calc(100% - 50px);
}

/* line 90, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadButton {
  height: 25%;
  padding: 0;
}

/* line 96, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadSquare {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

/* line 102, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadSquare.confirm {
  padding-top: 50%;
}

/* line 108, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 118, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n1 {
  background-image: url("../img/numpad1.png");
}

/* line 123, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n2 {
  background-image: url("../img/numpad2.png");
}

/* line 128, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n3 {
  background-image: url("../img/numpad3.png");
}

/* line 133, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n4 {
  background-image: url("../img/numpad4.png");
}

/* line 138, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n5 {
  background-image: url("../img/numpad5.png");
}

/* line 143, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n6 {
  background-image: url("../img/numpad6.png");
}

/* line 148, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n7 {
  background-image: url("../img/numpad7.png");
}

/* line 153, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n8 {
  background-image: url("../img/numpad8.png");
}

/* line 158, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n9 {
  background-image: url("../img/numpad9.png");
}

/* line 163, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#n0 {
  background-image: url("../img/numpad0.png");
}

/* line 168, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.keypad .keypadImage#nc {
  background-image: url("../img/numpadConfirm.png");
}

/* line 176, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 183, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.date {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

/* line 190, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.time {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

/* line 197, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.timeElapsed {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  border-top: 1px solid;
  margin-top: 15px;
  padding-top: 15px;
}

/* line 207, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.animateClick {
  animation: fadeInOut 0.4s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* line 219, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.failText {
  position: absolute;
  top: 0px;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

/* line 228, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.nameText {
  position: absolute;
  top: 0px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

/* line 237, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.checkInText {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/* line 244, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.checkOutText {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

/* line 251, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.buttonConfirm {
  width: 150px;
  height: 150px;
  background: #88BB33;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

/* line 262, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.buttonConfirm #time {
  font-size: 24px;
  font-weight: normal;
}

/* line 269, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.buttonCancel {
  width: 150px;
  height: 100px;
  background: #F58634;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

/* line 280, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.buttonCancel #time {
  font-size: 24px;
  font-weight: normal;
}

/* line 287, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 297, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.arrows {
  padding: 30px;
  background-color: #0098DA;
  border-radius: 15px;
}

/* line 304, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.shadowCustom {
  box-shadow: 0px 0px 10px 0px rgba(84, 89, 95, 0.5) !important;
}

/* line 309, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.screenSaver {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  display: none;
}

/* line 321, C:/xampp/htdocs/KlikEmployeeLogger/scss/_class.scss */
.screenSaverImage {
  width: 100%;
  height: 100%;
}

/* line 7, C:/xampp/htdocs/KlikEmployeeLogger/scss/main.scss */
*, *:before, *:after {
  box-sizing: border-box;
  line-height: 1.2;
}

/* line 13, C:/xampp/htdocs/KlikEmployeeLogger/scss/main.scss */
html, body {
  width: 800px;
  height: 480px;
  color: #848688;
  font-size: 16px;
}

/* line 21, C:/xampp/htdocs/KlikEmployeeLogger/scss/main.scss */
body {
  position: relative;
  font-family: "Arial Narrow", Arial, sans-serif;
  /*background-image: url("img/Page1.png");*/
}

@font-face {
  font-family: 'Arial Narrow';
  /* regular */
  src: url("fonts/ARIALN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  /* italic */
  src: url("fonts/ARIALNI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial Narrow';
  /* bold */
  src: url("fonts/ARIALNB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  /* bold italic */
  src: url("fonts/ARIALNBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*# sourceMappingURL=../css/main.map */