.middleBorder
{
    position:absolute; 
    right: calc(50% - #{$sLinesWidth} / 2); 
    top: $sMainPadding; 
    height:calc(100% - (2 * #{$sMainPadding})); 
    border-right: $cLines $sLinesWidth solid;
    z-index: 100;
}

.bottomLink
{
    position:absolute;
    left: 0; 
    bottom: $sMainPadding;
    width: 50%;
    text-align: center;
    font-weight: bold;
    z-index: 100;
    font-size: $sBottomLinkSize;
}

.mainRow
{
    height: 100%; 
    margin: 0;
}

.side
{
    padding: $sMainPadding; 

    &.left
    {
        background: $cBackgroundLeft;
    }

    &.right
    {
        background: $cBackgroundRight;
    }
}

.password
{    
    position: relative;
    height: $sPasswordHeight;
    font-size: 24px;
    color: $cFirst;
    
    .bottomLine
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: $cLines $sLinesWidth solid;
    }    

    .backspace
    {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 30px;
        padding-right: 5px;
    }

    #password
    {
        padding: 10px;
        text-align: center;
    }
}

.content
{
    padding-left: $sMainPadding;
    padding-right: $sMainPadding;
    height: 100%;
}

.keypadContainer
{
    height: calc(100% - #{$sPasswordHeight});
}

.keypad
{
    .keypadButton
    {
        height: 25%;
        padding: 0; 
    }
    
    .keypadSquare
    {
        width: 100%;
        padding-top: 100%;
        position: relative;
    
        &.confirm
        {
            padding-top: 50%;
        }
    }
    
    .keypadImage
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;    

        &#n1
        {
            background-image: url("../img/numpad1.png");  
        }

        &#n2
        {
            background-image: url("../img/numpad2.png");  
        }

        &#n3
        {
            background-image: url("../img/numpad3.png");  
        }

        &#n4
        {
            background-image: url("../img/numpad4.png");  
        }

        &#n5
        {
            background-image: url("../img/numpad5.png");  
        }

        &#n6
        {
            background-image: url("../img/numpad6.png");  
        }

        &#n7
        {
            background-image: url("../img/numpad7.png");  
        }

        &#n8
        {
            background-image: url("../img/numpad8.png");  
        }

        &#n9
        {
            background-image: url("../img/numpad9.png");  
        }

        &#n0
        {
            background-image: url("../img/numpad0.png");  
        }

        &#nc
        {
            background-image: url("../img/numpadConfirm.png");  
        }

    }
}

.centerDiv
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.date
{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.time
{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.timeElapsed
{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 15px;
}

&.animateClick
{
    animation: fadeInOut 0.4s linear forwards;
}

@keyframes fadeInOut 
{
    0% { opacity:0.5; }
    50% { opacity:0.75; } 
    100% { opacity:1; } 
}   

.failText
{
    position: absolute;
    top: 0px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.nameText
{
    position: absolute;
    top: 0px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.checkInText
{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.checkOutText
{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.buttonConfirm
{
    width: 150px;
    height: 150px;
    background: $cSecond;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;

    #time
    {
        font-size: 24px;
        font-weight: normal;
    }
}

.buttonCancel
{
    width: 150px;
    height: 100px;
    background: $cThird;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;

    #time
    {
        font-size: 24px;
        font-weight: normal;
    }
}

.noSelect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrows
{
    padding: 30px;
    background-color: $cFirst;
    border-radius: 15px;
}

.shadowCustom
{    
    box-shadow: 0px 0px 10px 0px rgba(84,89,95,0.5) !important;
}

.screenSaver
{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    z-index: 10000;
    display: none;
}

.screenSaverImage
{
    width: 100%;
    height: 100%;
}