@charset 'utf-8';
@import '_color.scss';
@import '_size.scss';
@import '_params.scss';
@import '_class.scss';

*, *:before, *:after 
{
    box-sizing: border-box;
    line-height: 1.2
}

html, body
{
    width: $sBodyWidth;
    height: $sBodyHeight;
    color: $cFont;
    font-size: $sFontSize;
}

body
{
    position: relative;
    font-family: $mainFont;
    /*background-image: url("img/Page1.png");*/
}

@font-face 
{
  font-family: 'Arial Narrow';
  /* regular */
  src: url("fonts/ARIALN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

@font-face 
{
  font-family: 'Arial Narrow';
  /* italic */
  src: url("fonts/ARIALNI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; 
}

@font-face 
{
  font-family: 'Arial Narrow';
  /* bold */
  src: url("fonts/ARIALNB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; 
}

@font-face 
{
  font-family: 'Arial Narrow';
  /* bold italic */
  src: url("fonts/ARIALNBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; 
}